* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  ;
  font-size: 12px;
  color: black;
}

:host {
  display: block;
  margin-bottom: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: black;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header_inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.header_logo img {
  width: 150px;
  height: 75px;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-position: center;
  background-color: green;
}

.hero_inner {
  margin: 0 auto;
  max-width: 100%;
}

.hero_title {
  color: black;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero_desc {
  color: black;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
}

.latest {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.latest_label {
  font-size: 32px;
  font-weight: lighter;
}

.latest_label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.list-item {
  margin: 32px auto auto;
  text-align: left;
  overflow: auto;
}

/*
    Posts
  */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

.restaurant-item {
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item_header {
  position: relative;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_poster {
  width: 100%;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_rating .restaurant-item_header_rating_score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item_content {
  padding: 16px;
}

.restaurant-item .restaurant-item_content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item_content h3 a {
  color: #db0000;
  text-decoration: none;
}

.restaurant-item .restaurant-item_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
    Restaurant Detail
  */

.restaurant {
  margin: 32px auto;
  width: 100%;
}

.restaurant .restaurant_poster {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant_info h4 {
  margin: 8px 0;
}

.restaurant_title {
  font-size: 32px;
}

footer {
  background-color: black;
  padding: 2em;
  width: 100%;
  text-align: center;
}

.foot {
  text-decoration: none;
  color: #fff;
  min-width: 44px;
  min-height: 44px;
}

img {
  display: block;
}